* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* website colors */
:root {
    --Orange: #ff6600;
    --Yellow: #f7cd46;
    --Green: #99982f;
    --Bkgrnd: #f7edda;
}

header {
  width: 100%;
  background-color: var(--Green);
}

h1 {
  text-align: left;
  background-color: var(--Yellow);
  color: var(--Orange);
  width: 40%;
  padding: 5px;
}

/* set style for underline links in navigation */
li {
  margin: 10px;
  display: inline;
  list-style-type: none;
  padding-bottom: 2px;
  border-bottom-style: solid;
}

nav li {
  border-color: var(--Bkgrnd);
}

nav ul {
  text-align: right;
  padding: 10px;
  border-color: var(--Bkgrnd);
}

nav a {
  text-decoration: none;
  color: var(--Bkgrnd);
}

/* Hovered navigation changes color of link and background */
nav a:hover {
  color: var(--Green);
}

nav li:hover {
  background-color: var(--Bkgrnd);
  border-color: var(--Bkgrnd);
}

/*header made up of 2 sections, navigation above and banner with avatar here */

.banner {
  position: relative;
  background-color: var(--Yellow);
  height: 100px;
}

.banner img {
  width: 90px;
  height: 90px;
  padding: 5px;
}

.banner p {
  float: right;
  margin: 40px 10% 0 0;
  padding: 5px;
  font-size: 32px;
  font-weight: bold;
  background-color: var(--Orange);
  color: var(--Yellow);
}


main {
  background-color: var(--Bkgrnd);
  padding: 20px;
}

/* h2 styling used in 3 sections of About Me, Work and Contact Me */
h2 {
  margin-right: 10px;
  padding: 5px;
  text-align: right;
  font-size: 32px;
  color: var(--Orange);
}

/* About me Flex box with 2 boxes in a row */
.me-container {
 display: flex;
}

/* this setting used for left side of About me, Work and Contact Me */
.column1 {
  flex-basis: 20%;
  border-right-style: solid;
  border-color: var(--Orange);
}

.column2-me {
  flex-basis: 80%;
  padding: 10px;
  text-align: left;
  color: var(--Orange);
}

p {
  padding: 5px;
}

/* Work made up of 3 separate flex boxes. This is the larger area made up of two columns, work on the left and 5 images on the right */
.work-container {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

.column2-work {
  flex-basis: 80%;
  padding: 10px;
}

/* Work Flex box #2 made up of larger image and 4 small image children */
.image-container {
display: flex;
flex-direction: column;
gap: 5px;
}

.row1 {
  height: 60%;
}

/* Work Flex box #3 made up of 2 rows of 4 images */
.row2 {
  height: 40%;
  display: flex;
  flex-wrap: wrap;
}

.pic {
  flex-basis: 50%;
}

img {
  width: 98%;
  padding: 5px;
}

/* Contact made up of 2 separate Flex boxes. this first one has two columns one with Contact me and the other will uls */
.contact-container {
  display: flex;
  padding-top: 10px;
}

.column2-contact {
  flex-basis: 80%;
  padding-top: 25px;  
}

/* Contact 2nd flex box made up of three same size boxes */
.contact-container ul{
  display: flex;
  color: var(--Orange);
}

/* set style of underline contact information */
.contact-container li{
  flex: 1;
  text-align: center;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  border-bottom-style: none;
}

/* hover overing over the contact sections will change color */
.contact-container li:hover {
  color: var(--Bkgrnd);
  background-color: var(--Orange);
}

.contact-container a:hover {
  color: var(--Bkgrnd);
}
.contact-container a {
  text-decoration: none;
  color: var(--Orange);
} 

/* originally designed for desktop over 767px, max width 767px doesn't seem to cause problems. Possible corrections for mobile viewing */
@media screen and (max-width 480px) {
  .contact-container ul {
    flex-direction: column;
  }
  }
